<section class="blogcard">
  <div class="row">
    <h1 class="text-center mt-0"><b>
        BLOG
      </b></h1>
    <div class="tarjetas d-flex justify-content-between">
      <div class="card" style="width: 16rem;">
        <img src="../../../assets/imgPrueba/blog11.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-center"><b>Blog 1</b></h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet sint assumenda dicta,
            laborum sequi et culpa iste ut magni, suscipit illum itaque fuga necessitatibus obcaecati, nisi quas id
            consequuntur delectus!</p>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="../../../assets/imgPrueba/blog2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-center"><b>Blog 2</b></h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus sed labore
            animi officiis quibusdam, rerum quas consequuntur perspiciatis, odio beatae error sit ab aut id. Esse, enim.
            Sapiente, pariatur!</p>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="../../../assets/imgPrueba/blog3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-center"><b>Blog 3</b></h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla esse ex autem, magni
            accusamus commodi, tenetur beatae voluptatum ipsam qui quod molestiae eligendi quisquam praesentium eius
            minus. Consequuntur, quibusdam veniam.</p>
        </div>
      </div>
    </div>
  </div>
</section>