<section id="banner">
  <div class="container-fluid">
    <div class="d-flex justify-content-end">
      <ul class="list-group list-group-horizontal">
        <li class="list-group"><a href="#tipocafe">Producto</a></li>
        <li class="list-group"><a href="#servicios">Servicios</a></li>
        <li class="list-group"><a href="#footer">Contacto</a></li>
      </ul>
    </div>
    <div data-aos="zoom-in-up">
    <div class="d-flex align-items-center d-block w-100">
    <div class=" col col-7">
      <br>
      <h1 class="text-center mt-0">COFFEE HOUSE</h1>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, non minima quis nulla ut quae praesentium
        iste assumenda iusto necessitatibus at cum eum aspernatur iure qui repellat vel dolorem cupiditate!</p>
      <button type="button" class="btn btn-warning">Informacion</button>
    </div>
  </div>
</div>
</div>
</section>