.rounded.float-end {
  width: 80%;
  height: 100%;
  margin-top: 0;
}

.tituloparrafo {
  margin-left: 25%;
  margin-top: 20%;
}

button {
  color: rgb(255, 255, 255);
}

.row {
  background-color: rgb(233, 233, 233);
}