<div class="row">
  <div class="col-sm-12 col-md-6">
    <img src="../../../assets/imgPrueba/coffee-2.jpg" class="rounded float-start" alt="...">
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="tituloparrafo col-lg-8">
      <h1><b>CAFES ESPECIALES</b></h1>
      <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eligendi asperiores exercitationem, ipsam
        culpa, rem autem architecto minus officiis cupiditate, nostrum necessitatibus sed laborum in corrupti temporibus
        voluptatum magni. Facilis!</p>
      <button type="button" class="btn btn-warning">Informacion</button>
    </div>
  </div>
</div>