.rounded.float-start {
  width: 80%;
  margin-top: 0;
}

.tituloparrafo {
  margin-left: 15%;
  margin-top: 15%;
}

button {
  color: rgb(255, 255, 255);
}

.row {
  background-color: rgb(233, 233, 233);
}