<div class="row">
  <div class="col-sm-12 col-md-6">
    <img src="https://firebasestorage.googleapis.com/v0/b/frontend-cafe-bba77.appspot.com/o/imagenes%20cafe%2Fcoffee-2.jpg?alt=media&token=c7179950-42d3-479a-8f2e-4f09212b8d4b" class="rounded float-start" alt="...">
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="tituloparrafo col-lg-8">
      <h1><b>CAFES ESPECIALES</b></h1>
      <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eligendi asperiores exercitationem, ipsam
        culpa, rem autem architecto minus officiis cupiditate, nostrum necessitatibus sed laborum in corrupti temporibus
        voluptatum magni. Facilis!</p>
      <button type="button" class="btn btn-warning">Informacion</button>
    </div>
  </div>
</div>