<section id="tipocafe">
    <div class="container">
       <h1 class="text-center mt-0"><b>
                LOS DIFERENTES TIPOS DE CAFES
            </b></h1>
        <br> <br>
        <div class="col-7">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores eius sequi enim modi magni doloribus
                deleniti ea fugit quaerat. Minus laudantium ex dolorum dolores, aliquam animi. Sunt beatae tenetur
                dolores.
            </p>
        </div>

        <div class="tarjetas d-flex justify-content-between">
            <div class="card" style="width: 17rem;">
                <img src="https://firebasestorage.googleapis.com/v0/b/frontend-cafe-bba77.appspot.com/o/imagenes%20cafe%2Fc1.png?alt=media&token=58471bf2-33cd-4054-8314-781f56ce11fc"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5><b>Cafe lorem</b></h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo tempora, ipsum
                        sit unde minima sequi adipisci et. Id alias provident at, aspernatur autem, architecto laborum
                        amet a dolores illo dicta.</p>
                </div>
            </div>

            <div class="card" style="width: 17rem;">
                <img src="https://firebasestorage.googleapis.com/v0/b/frontend-cafe-bba77.appspot.com/o/imagenes%20cafe%2Fc2.png?alt=media&token=dc8ca1fb-861c-490f-b653-de9d90fa2ba2"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5><b>Cafe lorem</b></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum libero
                        facilis labore voluptatum? Qui non alias tenetur! Cum quibusdam, ut modi quas maxime, placeat at
                        velit illum itaque, repudiandae excepturi.</p>
                </div>
            </div>

            <div class="card" style="width: 17rem;">
                <img src="https://firebasestorage.googleapis.com/v0/b/frontend-cafe-bba77.appspot.com/o/imagenes%20cafe%2Fc3.png?alt=media&token=190341f2-04bf-4841-b7e1-511600a65b4d"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5><b>Cafe lorem</b></h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos quod odio aut
                        suscipit minus cumque debitis ut quae, ab, exercitationem error non doloremque aspernatur
                        voluptatum pariatur ipsam consequuntur fugiat numquam!</p>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-warning">Informacion</button>
    </div>
</section>