.container {
  margin-top: 7%;
}


.tarjetas {
  margin-top: 20%;
}

.card {
  border: none;
}

h5 {
  text-align: center;
}

button {
  color: rgb(255, 255, 255);
  margin-top: 7%;
  margin-left: 45%;
}

.col-7{
 margin-left: 23%;
 margin-top: 5%;
}