<section id="servicios">
  <div class="d-flex align-items-center d-block w-100">
    <div class=" col col-7">
      <br>
      <h1 class="text-center mt-0">CAFETERIA SERVICIOS</h1>
      <br>
      <div class="d-flex mb-3">
        <ul class="list-group list-group-horizontal">
          <li class="list-group"><i class="fa-solid fa-mug-saucer fa-2xl">
              <h6>servicio 1</h6>
            </i></li>
          <li class="list-group"><i class="fa-solid fa-mug-saucer fa-2xl">
              <h6>servicio 2</h6>
            </i></li>
          <li class="list-group"><i class="fa-solid fa-mug-saucer fa-2xl">
              <h6>servicio 3</h6>
            </i></li>
        </ul>
      </div>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, non minima quis nulla ut quae praesentium
        iste assumenda iusto necessitatibus at cum eum aspernatur iure qui repellat vel dolorem cupiditate!</p>
    </div>
    <button type="button" class="btn btn-warning">Informacion</button>
  </div>
  <div class="fotostexto">
    <div class="tituloparrafo col-3">
    <h1><b>
        CAFES ESPECIALES
      </b></h1>
      <br><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eligendi asperiores exercitationem, ipsam
      culpa, rem autem architecto minus officiis cupiditate, nostrum necessitatibus sed laborum in corrupti temporibus
      voluptatum magni. Facilis!</p>
    </div>
    <img src="../../../assets/imgPrueba/coffe-1.jpg" class="rounded float-end" alt="...">
  </div>
</section>