<section id="servicios">
  <div class="d-flex d-block w-100">
    <div class=" col col-7">
      <br>
      <h1 class="text-center mt-0">CAFETERIA SERVICIOS</h1>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <ul class="list-group">
            <i class="fa-solid fa-mug-saucer fa-2xl" type="button"></i>
            <h6>servicio 1</h6>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="list-group">
            <i class="fa-solid fa-mug-saucer fa-2xl" type="button"></i>
            <h6>servicio 2</h6>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="list-group">
            <i class="fa-solid fa-mug-saucer fa-2xl" type="button"></i>
            <h6>servicio 3</h6>
          </ul>
        </div>
      </div>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, non minima quis nulla ut quae praesentium
        iste assumenda iusto necessitatibus at cum eum aspernatur iure qui repellat vel dolorem cupiditate!</p>
      <button type="button" class="btn btn-warning">Informacion</button>
    </div>
  </div>
</section>